doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/monokai_sublime.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.catalog
      p 目  录
      ul
        li
          a(href="/", title="首页") 首页
        li
          a(href="/docs/server-config", title="server-config") server-config
        li
          a(href="/docs/ruby-on-rails", title="ruby-on-rails") ruby-on-rails
    div.content
      block content
      script(src='/javascripts/highlight.min.js')
      script.
        hljs.initHighlightingOnLoad();
