doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/monokai_sublime.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/highlight.min.js')
    script.
      hljs.initHighlightingOnLoad();
